h1{
    font-family: Fugaz One;
    text-align: center;
    font-size: 72px;
    color: #FF4296;
}

button{

  font-size: 72px;
  margin-top: 10%;
border-radius: 5px;
font-family: Fugaz one;

}

body{
	font-family: Georgia;
}
